<%= form_for(@log_file) do |f| %>
  <% if @log_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log_file.errors.count, "error") %> prohibited this log_file from being saved:</h2>

      <ul>
      <% @log_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_name %><br />
    <%= f.text_field :file_name %>
  </div>
  <div class="field">
    <%= f.label :log_type %><br />
    <%= f.text_field :log_type %>
  </div>
  <div class="field">
    <%= f.label :pos %><br />
    <%= f.number_field :pos %>
  </div>
  <div class="field">
    <%= f.label :limit_of_skip %><br />
    <%= f.number_field :limit_of_skip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
